/***** Section INDEX  *****/
header {
    background: gray;
    text-align: center;
    height: 40px;
    border: thin;
    border-style: solid;
    border-color: white;
}

.Img {
    background: rgb(166, 207, 245);
    text-align: center;
    height: 260px;
    border: thin;
    border-style: solid;
    border-color: white;
}

.Art {
    background: rgb(157, 40, 157);
    text-align: center;
    border-color: white;
    border-width: thin;
    border-style: solid;
    height: 160px;
    margin: 0px;
}

footer {
    background: rgb(150, 203, 130);
    text-align: center;
    height: 40px;
    border: thin;
    border-style: solid;
    border-color: white;
}

/***** End Section INDEX *****/





/***** Section PAGE-A *****/

.page-a-col1 {
    height: 1100px;

}

.page-a-col2 {
    height: 1100px;

}

.Imgflayer {
    height: auto;
}

/***** End Section PAGE-A *****/






/***** Section PAGE-B *****/
.page-b-h{
    background: skyblue;
    color: white;
    height: auto;
    font-size: 20px;
    align-content: center;
}

.page-b-h2{
    background: rgb(11, 66, 89);
    color: white;
    height: auto;
    font-size: 20px;
    align-content: center;
}

fieldset{
    background: rgb(11, 66, 89);
}
/***** End Section PAGE-B *****/







/***** Section PAGE-C *****/


.page-c div {
    background: rgb(90, 164, 0);
    color: white;
    border: thin;
    border-style: solid;
    border-color: white;
    border-radius: 1cm;
    text-align: center;
    font-size: 40px;

}

.imgSignos{
    height: 70px;
    width: 60px;
}

.imgDiv{
    height: 230px;
    width: 230px;
}


.page-c-h {
    background: rgb(71, 129, 1);
    font-size: 50px;
    text-align: start;
    color: white;
    height: 80px;
}

.page-c-d div {
    background: rgba(210, 210, 210, 0.95);
    height: auto;
    border: thin;
    border-style: solid;
    border-color: white;
}

/***** End Section PAGE-C *****/