<div class="container-fluid p-5">
    <ol class="list-group list-group-numbered">
        <li class="list-group-item list-group-item-action" *ngFor="let x of marcas" data-bs-toggle="modal" data-bs-target="#modal" (click)="obtenerModelos(x)">{{x.name}}</li>

        <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">{{marcas.name}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li *ngFor="let x of modelos">{{x.name}}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </ol>
</div>