<main class="container-fluid">
    <div><h1>Juego de palabras</h1></div>
    <section>
        <div class="row bg-warning"><h1 class="display-4 text-center"></h1>
            <button type="button" class="btn btn-success">Play</button>
        </div>

        <div class="row row-cols-2 p-3 mt-5 justify-content-around">
            <div class="col-5 p-2 g-3 bg-danger"><button type="button" class="btn btn-dark">Dark</button></div>
            <div class="col-5 p-2 g-3 bg-warning"><button type="button" class="btn btn-dark">Dark</button></div>
            <div class="col-5 p-2 g-3 bg-primary"><button type="button" class="btn btn-dark">Dark</button></div>
            <div class="col-5 p-2 g-3 bg-success"><button type="button" class="btn btn-dark">Dark</button></div>
        </div>
    </section>
</main>